<div class='container-fluid'>
  <div class='content'>
    <div class='row-fluid'>
    
<img src='http://192.168.1.69/render/?width=1373&height=760&_salt=1336343169.882&target=system.loadavg_1min'/>
</div></div>
</div>