<div class='span3'>
  <div class='well sidebar-nav'>
    <ul class='nav-list nav'>
      <li class='nav-header'>
        Create new Records
      </li>
      <li>
        <a href='/new/datacenter'>Datacenter</a>
      </li>
      <li>
        <a href='/new/cluster'>Cluster</a>
      </li>
      <li>
        <a href='/new/server'>Server</a>
      </li>
      <li>
        <a href='/new/datalog'>Datalog</a>
      </li>
      <li class='nav-header'>
        <a href='/import'>Import Config File</a>
      </li>
    </ul>
  </div>
</div>
