<hr />
<div class='footer'>
  <p>
    &copy; Power Smart Labs 2012
    <br />
    <a href='/support'>Support</a>
    <a href='/contact'>Contact</a>
    <a href='http://powersmartlabs.com' target='_blank'>Company</a>
  </p>
</div>