<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <a class='btn btn-navbar'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </a>
      <a class='brand' href='/'>PowerSmart Manager</a>
      <div class='nav-collapse'></div>
      <ul class='nav'>
        <li>
          <a href='/analytics'>Analytics</a>
        </li>
        <li>
          <a href='/charts'>Charts</a>
        </li>
        <li>
          <a href='/power'>Power</a>
        </li>
        <li class='nav dropdown'>
          <a class='dropdown-toggle'>
            <ul class='dropdown-menu'>
              <li>
                <a href='/login/form'>Login</a>
              </li>
              <li>
                <a href='/logout'>Logout</a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
      <p class='navbar-text pull-right'>
        Logged in as
        <a href='/'>Power Smart Labs</a>
      </p>
    </div>
  </div>
</div>