<%= erb(:create_sidebar)%>
<div class='span9'>
  <div class='hero-unit'>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span4'>
          <form action='' method='post'>
            <fieldset></fieldset>
            <label for='datacenter'>Create a new Datalog</label>
            <label for='name'>Server:</label>
            <input class='text' name='server' type='text'>
            <label for='name'>Key:</label>
            <input class='text' name='key' type='text' />
            <label for='name'>Value:</label>
            <input class='text' name='value' type='text' />
              <input class='btn' type='submit' value='Send' />
            </input>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>