<%= erb(:create_sidebar)%>
<div class='span9'>
  <div class='hero-unit'>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span4'>
          <form action='' method='post'>
            <fieldset></fieldset>
            <label for='datacenter'>Create a new Cluster</label>

            <label for='name'>Name:</label>
            <input class='text' name='name' type='text' />
            <label for='name'>Cluster Type: e.g. webserver, hadoop, etc. </label>
            <input class='text' name='type' type='text' />
              <input class='btn' type='submit' value='Send' />
            </input>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
