<hr />
<div class='container-fluid'>
  <p>
    Power Smart Labs  &copy; 2012
    <br />
    <a href='/support'>Support</a>
    <a href='/contact'>Contact</a>
    <a href='http://powersmartlabs.com' target='_blank'>Company</a>
  </p>
</div>